body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-width: 1200px;
}

* {
    box-sizing: border-box;
}

.gen-header {
    color: #04394f;
    background-image: url(./img/bg-blue.webp);
    height: 50px;
    position: relative;
}

.gen-header h1 {
    position: absolute;
    font-size: 2em;
    bottom: 0;
    text-shadow: 0 0 0.07em white, 0 0 0.12em rgb(0 0 0 / 50%);
    margin-bottom: 6px;
    margin-left: 10px;
}

.gen-body {
    background-image: url(./img/bg-white.webp);
    position: relative;
    height: calc(100vh - 80px);
}

.gen-footer {
    background-image: url(./img/bg-blue.webp);
    height: 30px;
    font-weight: bold;
    color: #04394f;
    padding-right: 10px;
    padding-left: 10px;
}

.gen-footer div {
    margin-top: 5px;
}

.tool-container {
    display: -webkit-flex;
    display: flex;
    height: 100%;
}

.controls-container {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
}

.graph-container {
    width: 80%;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    position: relative;
}

.controls.floating{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    height: auto;
    background-image: url(./img/bg-white.webp);
}

.controls {
    height: 100%;
    margin: auto;
    border: solid 3px #04394f;
    max-width: 700px;
    padding: 20px;
    border-radius: 15px;
    overflow-y: auto;
}

.controls::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.controls::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 15px;
}

/* Handle */
.controls::-webkit-scrollbar-thumb {
    background: rgb(7, 7, 7);
    border-radius: 15px;
}

/* Handle on hover */
.controls::-webkit-scrollbar-thumb:hover {
    background: #e3ebfb;
}

.advanced-settings.hidden {
    visibility: collapse;
    height: 0;
}

.controls input:focus-visible {
    outline: none;
    background-color: whitesmoke;
}

input,
select {
    margin-top: 5px;
    width: 100%;
    border: solid 1px #04394f;
    border-radius: 5px;
    height: 30px;
    padding: 0px 7px;
    font-size: 0.9em;
    background-color: white;
}

.input-row {
    margin-bottom: 10px;
    position: relative;
}

/* Toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #04394f;
}

input:focus + .slider {
    box-shadow: 0 0 1px #04394f;
}

input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 16px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Units */

.units-placeholder{
    position: absolute;
    right: 7px;
    bottom: 7px;
    font-size: 13px;
    color: rgb(104, 104, 104);
}
